@using InGame.BestPractice.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About In Game Group
                </h2>
            </div>
            <div class="body">
                <p>
                    InGame Group is the fastest growing Turkish gaming company and the first studio to locally develop an MMOFPS game in Turkey. • The Group, founded in 2012 by Tuncay Büyükoglu, Özgür Soner, Burak Gözalan and Genco Alp, fully owns the IP rights to its flagship game Zula, and its second game Pool Elite. • In 2014, a group of notable investors from related industries have invested in and lent their support to InGame Group, significantly contributing to the Group’s rapid expansion. • InGame’s MMOFPS game Zula has reached a tremendous coverage in Turkey with 1.5 mn MAU, over 40k CCU and over 8 mn registered users within 2 years of launching in Turkey. • InGame has further clarified its pioneer position in the Turkish gaming market after developing the nation’s truly first cross-platform game; Pool Elite
                </p>

               
        </div>
        </div>
    </div>
</div>
