@using Abp.Authorization.Users
<div class="card" id="﻿ForgotPasswordArea">
<div class="body">
    <form id="ForgotForm" asp-action="ForgotPassword" method="post">
        <h4 class="text-center">@L("ForgotPassword")</h4>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">person</i>
            </span>
            <div class="form-line">
                <input type="text" class="form-control" name="usernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
            </div>
        </div>
     
        <div class="row">
            <div class="col-xs-4">
                <button id="LoginButton" class="btn btn-block bg-pink waves-effect" type="submit">@L("Submit")</button>
            </div>
        </div>
    </form>
</div>
</div>