@{
    ViewData["Title"] = L("ForgotPasswordConfirmation");
}
<div class="card">
    <div class="body">
        <h2>@ViewData["Title"]</h2>
        <p>
            @L("CheckMailBoxMessage")
        </p>


        @{
            var callBackUrl = TempData["CallBack"] as string;
        }
        @if (callBackUrl != null)
        {
            <a href="@callBackUrl">@callBackUrl</a>
        }

    </div>
    </div>
