@{
    ViewData["Title"] = L("ResetPasswordConfirmationTitle");
}
<div class="card">
    <div class="body">
        <h2>@ViewData["Title"]</h2>

        <p>
            @Html.Raw(L("ResetPasswordConfirmationMessage"))

        </p>
    </div>
